/* .header {
    min-height: 220px;
    padding: 20px;
    color: #333;
    background-color: #bada55;
    background-image: url(../img/img.jpg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    position: relative;
}
*/
*,
*:before,
*:after {
  box-sizing: inherit; }

header {
    height: 10vh;
    background: url(../img/img.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 46.25em) {
      header {
        height: 20vh; } 
    }

/*
h1 {
    font-family: 'Pirata One', cursive;
    font-size: 5rem;
    color: #C90813;
    line-height: 1.1;
}
*/
header h1 {
    color: white;
    font-size: 7vw;
    font-weight: 400;
    text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2); 
}

.logo {
    animation: App-logo-spin infinite 20s linear;
    height: 230px;
    position: absolute;
    opacity: 0.2;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
